<h3>Basic Datetime</h3>

<source-code>
    <mat-tab-group>
        <mat-tab label="basicSample.component.ts">
            <div [renderMarkdown]="'samples/datetime/basic/basicSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="basicSample.component.html">
            <div [renderMarkdown]="'samples/datetime/basic/basicSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<basic-sample></basic-sample>