<go-back></go-back>

<h3>Custom Template Select Sample</h3>

<div class="bold spread-text">IMPORT MODULE</div>
<div renderMarkdown="`import {NgSelectModule} from '@anglr/select';`"></div>

<source-code>
    <mat-tab-group>
        <mat-tab label="customTemplateSample.component.ts">
            <div [renderMarkdown]="'pages/+sampleSelect/customTemplate/customTemplateSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="customTemplateSample.component.html">
            <div [renderMarkdown]="'pages/+sampleSelect/customTemplate/customTemplateSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<custom-template-sample></custom-template-sample>