<go-back></go-back>

<h3>Configuration Sample</h3>

<div class="bold spread-text">IMPORT MODULE</div>
<div renderMarkdown="`import {GridModule} from '@anglr/grid';`"></div>

<source-code>
    <mat-tab-group>
        <mat-tab label="configurationSample.component.ts">
            <div [renderMarkdown]="'pages/+sampleGrid/configuration/configurationSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="configurationSample.component.html">
            <div [renderMarkdown]="'pages/+sampleGrid/configuration/configurationSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>

        <mat-tab label="grid.global.conf.ts">
            <div [renderMarkdown]="'boot/grid.global.conf.ts' | asSource | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<configuration-sample></configuration-sample>