<source-code>
    <mat-tab-group>
        <mat-tab label="stronglyTypedSample.component.ts">
            <div [renderMarkdown]="'samples/grid/stronglyTyped/stronglyTypedSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="stronglyTypedSample.component.html">
            <div [renderMarkdown]="'samples/grid/stronglyTyped/stronglyTypedSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<strongly-typed-sample/>
