<h3>Basic Datetime Picker</h3>

<source-code>
    <mat-tab-group>
        <mat-tab label="basicPickerSample.component.ts">
            <div [renderMarkdown]="'samples/datetime/basicPicker/basicPickerSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="basicPickerSample.component.html">
            <div [renderMarkdown]="'samples/datetime/basicPicker/basicPickerSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<basic-picker-sample/>