<h3>Simple Datetime Selector</h3>

<source-code>
    <mat-tab-group>
        <mat-tab label="simpleSelector.component.ts">
            <div [renderMarkdown]="'samples/datetime/simpleSelector/simpleSelector.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="simpleSelector.component.html">
            <div [renderMarkdown]="'samples/datetime/simpleSelector/simpleSelector.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<simple-selector-sample></simple-selector-sample>