<source-code>
    <mat-tab-group>
        <mat-tab label="groupedColumnsSample.component.ts">
            <div [renderMarkdown]="'samples/grid/groupedColumns/groupedColumnsSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="groupedColumnsSample.component.html">
            <div [renderMarkdown]="'samples/grid/groupedColumns/groupedColumnsSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<grouped-columns-sample/>
