<h3>REST usage samples</h3>

<source-code>
    <mat-tab-group>
        <mat-tab label="usageSample.component.ts">
            <div [renderMarkdown]="'pages/+sampleRest/usage/usageSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="usageSample.component.html">
            <div [renderMarkdown]="'pages/+sampleRest/usage/usageSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>

        <mat-tab label="sample.service.ts">
            <div [renderMarkdown]="'services/api/sample/sample.service.ts' | asSource | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<usage-sample></usage-sample>