<h4>Datetime with today/now</h4>

<source-code>
    <mat-tab-group>
        <mat-tab label="todayVsNowSample.component.ts">
            <div [renderMarkdown]="'samples/datetime/todayVsNow/todayVsNowSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="todayVsNowSample.component.html">
            <div [renderMarkdown]="'samples/datetime/todayVsNow/todayVsNowSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<today-vs-now-sample/>