<source-code>
    <mat-tab-group>
        <mat-tab label="reactiveDataSample.component.ts">
            <div [renderMarkdown]="'samples/grid/reactiveData/reactiveDataSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="reactiveDataSample.component.html">
            <div [renderMarkdown]="'samples/grid/reactiveData/reactiveDataSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<reactive-data-sample/>
