<h4>Customized picker</h4>

<source-code>
    <mat-tab-group>
        <mat-tab label="customizedPickerSample.component.ts">
            <div [renderMarkdown]="'samples/datetime/customizedPicker/customizedPickerSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="customizedPickerSample.component.html">
            <div [renderMarkdown]="'samples/datetime/customizedPicker/customizedPickerSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<customized-picker-sample/>