<source-code>
    <mat-tab-group>
        <mat-tab label="hideCarretSample.component.ts">
            <div [renderMarkdown]="'samples/select/hideCarret/hideCarretSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="hideCarretSample.component.html">
            <div [renderMarkdown]="'samples/select/hideCarret/hideCarretSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<hide-carret-sample/>