<source-code>
    <mat-tab-group>
        <mat-tab label="dynamicOptionGetterSample.component.ts">
            <div [renderMarkdown]="'samples/select/dynamicOptionGetter/dynamicOptionGetterSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="dynamicOptionGetterSample.component.html">
            <div [renderMarkdown]="'samples/select/dynamicOptionGetter/dynamicOptionGetterSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>

        <mat-tab label="kodPopisValue.interface.ts">
            <div [renderMarkdown]="'misc/types/kodPopisValue.interface.ts' | asSource | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<dynamic-option-getter-sample/>