<source-code>
    <mat-tab-group>
        <mat-tab label="popoverPopupSample.component.ts">
            <div [renderMarkdown]="'samples/select/popoverPopup/popoverPopupSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="popoverPopupSample.component.html">
            <div [renderMarkdown]="'samples/select/popoverPopup/popoverPopupSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<popover-popup-sample/>