@use 'sass:map';
@use 'sass:color';

@use '../../vars';

$theme: null !default;

//############## PAGE TITLE ##############

.page-title
{
    background-image: linear-gradient(to bottom, map.get($theme, pageTitleBackground), map.get($theme, pageTitleBackground2));
    color: map.get($theme, pageTitleForeground);

    .fab, .fas
    {
        color: map.get($theme, pageForeground);
    }
}

//############## MD MENU ##############

md-menu
{
    box-shadow: -4px 0px 2px -2px map.get($theme, menuSeparatorForeground) inset;
}

//############## SOURCE CODE ##############

source-code
{
    .show-icon
    {
    }
}

//############## LIVE SAMPLE DIV ##############

.live-sample-div
{
    border-color: map.get($theme, liveSampleBorder);
    box-shadow: 0 0 1px map.get($theme, liveSampleBorder);

    h1, h2, h3, h4, h5, h6
    {
        background-color: map.get($theme, liveSampleTitleBackground);
    }
}