<source-code>
    <mat-tab-group>
        <mat-tab label="cancelValueSample.component.ts">
            <div [renderMarkdown]="'samples/select/cancelValue/cancelValueSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="cancelValueSample.component.html">
            <div [renderMarkdown]="'samples/select/cancelValue/cancelValueSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<cancel-value-sample/>