@use 'scss/theme/theme' with ($themeName: 'light',
                              $tooltipTheme: 'dark',
                              $datetimeTheme: 'default',
                              $multiButtonTheme: 'light',
                              $hljs: 'vs');