<h3>Datetime data types</h3>

<source-code>
    <mat-tab-group>
        <mat-tab label="dataTypesSample.component.ts">
            <div [renderMarkdown]="'samples/datetime/dataTypes/dataTypesSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="dataTypesSample.component.html">
            <div [renderMarkdown]="'samples/datetime/dataTypes/dataTypesSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<data-types-sample/>