<go-back></go-back>

<h3>Grouped Metadata Grid Sample</h3>

<div class="bold spread-text">IMPORT MODULE</div>
<div renderMarkdown="`import {GridModule, GroupedGridModule} from '@anglr/grid';`"></div>

<source-code>
    <mat-tab-group>
        <mat-tab label="groupedMetadataSample.component.ts">
            <div [renderMarkdown]="'pages/+sampleGrid/basic/groupedMetadataSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="groupedMetadataSample.component.html">
            <div [renderMarkdown]="'pages/+sampleGrid/basic/groupedMetadataSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>

        <mat-tab label="data.interface.ts">
            <div [renderMarkdown]="'services/api/data/data.interface.ts' | asSource | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<grouped-metadata-sample></grouped-metadata-sample>