<ng-grid [gridOptions]="gridOptions">
    <grouped-table-metadata>
        <!-- group with custom template and 2 columns in it-->
        <table-group title="Country and city">
            <ng-template let-group>
                <div class="text-left">{{group?.title}}</div>
            </ng-template>

            <table-group-column id="country"></table-group-column>
            <table-group-column id="city"></table-group-column>
        </table-group>

        <!-- group with only one column and with title that is not visible -->
        <table-group title="Zip code" [titleVisible]="false">
            <table-group-column id="zip"></table-group-column>
        </table-group>

        <!-- group with custom css class applied to group and 2 columns in it -->
        <table-group title="Address street:" cssClass="text-right">
            <table-group-column id="street"></table-group-column>
            <table-group-column id="houseNumber"></table-group-column>
        </table-group>

        <!-- columns metadata definition as standard -->
        <basic-table-column id="country" name="country" title="Country"></basic-table-column>
        <basic-table-column id="city" name="city" title="City"></basic-table-column>
        <basic-table-column id="zip" name="zip" title="ZIP"></basic-table-column>
        <basic-table-column id="street" name="street" title="Street"></basic-table-column>
        <basic-table-column id="houseNumber" name="houseNumber" title="House number"></basic-table-column>
    </grouped-table-metadata>
</ng-grid>