<div class="flex-row page-title">
    <div class="title-text flex-1">Ressurect IT</div>

    <div>
        <a href="https://github.com/ressurectit/ressurectit.github.io">
            <span class="fab fa-github"></span>
        </a>
    </div>
</div>

<div class="container main relative">
    <progress-indicator></progress-indicator>
    <internal-server-error></internal-server-error>
    <global-notifications></global-notifications>

    <div class="content relative" [@routeAnimations]="routeComponentState">
        <div class="main-content">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </div>
    <console *ngIf="consoleVisible" @consoleAnimation></console>
</div>