<progress-indicator class="fullscreen"/>
<internal-server-error class="fullscreen"/>
<global-notifications class="fullscreen"/>
<hotkeys-cheatsheet class="fullscreen"/>

<div class="fullscreen grid-subgrid">
    <router-outlet/>
</div>

<div class="page-footer extra-small-text text-center">GUI version: {{guiVersion}}</div>

@if(consoleVisible())
{
    <console class="fullscreen" @consoleAnimation/>
}

<!-- @if(!initialized)
{
    <div class="loading-indicator">
        <div class="loading-header">
            <div class="loading-title">APP</div>
        </div>

        <div class="loading-card"></div>
        <div class="loading-spinner"></div>
    </div>
} -->