<h3>Edit Select</h3>

<source-code>
    <mat-tab-group>
        <mat-tab label="editSample.component.ts">
            <div [renderMarkdown]="'samples/select/edit/editSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="editSample.component.html">
            <div [renderMarkdown]="'samples/select/edit/editSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<edit-sample></edit-sample>