<div class="flex-row">
    <div class="flex-1 margin-right-small">
        <div>Value: {{selectControl.value | json}}</div>

        <ng-select [formControl]="selectControl" editStyle>
            <ng-option value="first" text="First value text"/>
            <ng-option value="second" text="Second value text"/>
            <ng-option value="third" text="Third value text"/>
            <ng-option value="fourth" text="Fourth value text"/>
            <ng-option value="fifth" text="Fifth value text"/>
        </ng-select>
    </div>

    <div class="flex-1 margin-left-small">
        <div>Value: {{selectMultipleControl.value | json}}</div>

        <ng-select multiple [formControl]="selectMultipleControl" editStyle>
            <ng-option value="first" text="First value text"/>
            <ng-option value="second" text="Second value text"/>
            <ng-option value="third" text="Third value text"/>
            <ng-option value="fourth" text="Fourth value text"/>
            <ng-option value="fifth" text="Fifth value text"/>
        </ng-select>
    </div>
</div>