<h3>Basic Lazy Select</h3>

<source-code>
    <mat-tab-group>
        <mat-tab label="basicLazySample.component.ts">
            <div [renderMarkdown]="'samples/select/basicLazy/basicLazySample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="basicLazySample.component.html">
            <div [renderMarkdown]="'samples/select/basicLazy/basicLazySample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>

        <mat-tab label="kodPopisValue.interface.ts">
            <div [renderMarkdown]="'misc/types/kodPopisValue.interface.ts' | asSource | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<basic-lazy-sample/>