/* Open sans */
@font-face 
{
    font-family: "Open Sans";
    src: url("external/fonts/Open_Sans/OpenSans-Regular.ttf");
    font-weight: normal;
}

@font-face 
{
    font-family: "Open Sans";
    src: url("external/fonts/Open_Sans/OpenSans-Bold.ttf");
    font-weight: bold;
}

@font-face 
{
    font-family: "Open Sans";
    src: url("external/fonts/Open_Sans/OpenSans-Light.ttf");
    font-weight: 300;
}

@font-face 
{
    font-family: "Open Sans";
    src: url("external/fonts/Open_Sans/OpenSans-Italic.ttf");
    font-style: italic;
}

@font-face 
{
    font-family: "Open Sans";
    src: url("external/fonts/Open_Sans/OpenSans-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}

/* Segoe UI */
@font-face 
{
    font-family: "SegoeUI";
    src: url("external/fonts/SegoeUI/segoeui.ttf");
    font-weight: normal;
}

@font-face 
{
    font-family: "SegoeUI";
    src: url("external/fonts/SegoeUI/segoeuib.ttf");
    font-weight: bold;
}

@font-face 
{
    font-family: "SegoeUI";
    src: url("external/fonts/SegoeUI/segoeuisl_0.ttf");
    font-weight: lighter;
}

@font-face 
{
    font-family: "SegoeUI";
    src: url("external/fonts/SegoeUI/seguisb_0.ttf");
    font-weight: bolder;
}
