<source-code>
    <mat-tab-group>
        <mat-tab label="addNewOptionSample.component.ts">
            <div [renderMarkdown]="'samples/select/addNewOption/addNewOptionSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="addNewOptionSample.component.html">
            <div [renderMarkdown]="'samples/select/addNewOption/addNewOptionSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<add-new-option-sample/>