<h3>Min Max Static Datetime</h3>

<source-code>
    <mat-tab-group>
        <mat-tab label="minMaxStatic.component.ts">
            <div [renderMarkdown]="'samples/datetime/minMaxStatic/minMaxStatic.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="minMaxStatic.component.html">
            <div [renderMarkdown]="'samples/datetime/minMaxStatic/minMaxStatic.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<min-max-static-sample></min-max-static-sample>