<h4>Datetime with time</h4>

<source-code>
    <mat-tab-group>
        <mat-tab label="withTimeSample.component.ts">
            <div [renderMarkdown]="'samples/datetime/withTime/withTimeSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="withTimeSample.component.html">
            <div [renderMarkdown]="'samples/datetime/withTime/withTimeSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<with-time-sample/>