<source-code>
    <mat-tab-group>
        <mat-tab label="customizedViewSample.component.ts">
            <div [renderMarkdown]="'samples/grid/customizedView/customizedViewSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="customizedViewSample.component.html">
            <div [renderMarkdown]="'samples/grid/customizedView/customizedViewSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<customized-view-sample/>
