<source-code>
    <mat-tab-group>
        <mat-tab label="customizedViewSample.component.ts">
            <div [renderMarkdown]="'samples/grid/customizedView/customizedViewSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="customizedViewSample.component.html">
            <div [renderMarkdown]="'samples/grid/customizedView/customizedViewSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>

        <mat-tab label="data.interface.ts">
            <div [renderMarkdown]="'services/api/data/data.interface.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="customizedView.scss">
            <div [renderMarkdown]="'scssSamples/_customizedView.scss' | asSource: 'scss' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<customized-view-sample/>
