<h3>Absolute Select</h3>

<source-code>
    <mat-tab-group>
        <mat-tab label="absoluteSample.component.ts">
            <div [renderMarkdown]="'samples/select/absolute/absoluteSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="absoluteSample.component.html">
            <div [renderMarkdown]="'samples/select/absolute/absoluteSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<absolute-sample></absolute-sample>