<div class="flex-column flex-1">
    <div cdkMenuBar class="menu-bar">
        @for(menuitem of menu(); track menuitem)
        {
            @if(menuitem.children?.length)
            {
                <ng-template #submenu>
                    <div class="example-menu" cdkMenu>
                        @if(menuitem.mdPath)
                        {
                            <button type="button" class="example-menu-item" cdkMenuItem [mdMenuItem]="menuitem.mdPath">Homepage</button>
                        }

                        @for(submenuitem of menuitem.children; track submenuitem)
                        {
                            <button type="button" class="example-menu-item" cdkMenuItem [mdMenuItem]="submenuitem.mdPath">{{submenuitem.title}}</button>
                        }
                    </div>
                </ng-template>

                <button type="button" class="example-menu-bar-item" cdkMenuItem [cdkMenuTriggerFor]="submenu">{{menuitem?.title}}</button>
            }
            @else
            {
                <button type="button" class="example-menu-bar-item" cdkMenuItem [mdMenuItem]="menuitem.mdPath">{{menuitem?.title}}</button>
            }
        }
    </div>

    <div class="flex-1" renderMd [renderMarkdown]="markdown()"></div>
</div>