<div class="flex-row">
    <md-menu #mdMenu baseUrl="/content" activeCssClass="active">
        <ng-container *ngTemplateOutlet="menuTmpl; context: {$implicit: menu}"></ng-container>
        
        <ng-template #menuTmpl let-children >
            <ul>
                <li *ngFor="let item of children">
                    <a [mdMenuItem]="item?.mdPath">{{item?.title}}</a>

                    <ng-template [ngIf]="!!item?.children?.length">
                        <ng-container *ngTemplateOutlet="menuTmpl; context: {$implicit: item?.children}"></ng-container>
                    </ng-template>
                </li>
            </ul>
        </ng-template>
    </md-menu>

    <div class="flex-1" renderMarkdown [source]="mdMenu?.activePath" baseUrl="content"></div>
</div>