<source-code>
    <mat-tab-group>
        <mat-tab label="metadataSelectionSample.component.ts">
            <div [renderMarkdown]="'samples/grid/metadataSelection/metadataSelectionSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="metadataSelectionSample.component.html">
            <div [renderMarkdown]="'samples/grid/metadataSelection/metadataSelectionSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<metadata-selection-sample/>
