<source-code>
    <mat-tab-group>
        <mat-tab label="formUsageSample.component.ts">
            <div [renderMarkdown]="'samples/select/formUsage/formUsageSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="formUsageSample.component.html">
            <div [renderMarkdown]="'samples/select/formUsage/formUsageSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<form-usage-sample/>