<h3>Configuration</h3>

<source-code>
    <mat-tab-group>
        <mat-tab label="configurationSample.component.ts">
            <div [renderMarkdown]="'samples/grid/configuration/configurationSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="configurationSample.component.html">
            <div [renderMarkdown]="'samples/grid/configuration/configurationSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>

        <mat-tab label="grid.global.conf.ts">
            <div [renderMarkdown]="'boot/grid.global.conf.ts' | asSource | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<configuration-sample></configuration-sample>