@use 'sass:color';

//############## AVAILABLE COLORS ##############

$white: #f0f0f0;
$black: #121212;

$gray-0: #151515;
$gray-1: #1a1a1a;
$gray-2: #1e1e1e;
$gray-3: #333333;
$gray-4: #404040;
$gray-5: #555555;
$gray-6: #aaaaaa;
$gray-7: #cccccc;
$gray-8: #e0e0e0;
$gray-9: #eaeaea;

$green: rgba(181,232,83,0.729412);
$teal: #0a8;
$lightBlue: #63c0f5;
$blue: #3380c0;
$darkBlue: #0072cf;
$red: #ec0e0e;
$orangeRed: #e45514;
$orange: #e4a256;
$yellowGreen: #b5e853;
$yellow: #d4da03;
$brown: #6b4b02;

//############## BACKGROUNDS ##############

$pageBackground: $white;
$primaryBackground: $white;
$secondaryBackground: $white;
$blockBackground: $white;
$pageTitleBackground: $lightBlue;
$pageTitleBackground2: $gray-5;
$inlineCodeBackground: $gray-9;
$matTabsBackground: $gray-7;

//############## FOREGROUNDS ##############

$pageForeground: $black;
$primaryForeground: $blue;
$secondaryForeground: $blue;
$blockForeground: $blue;
$pageTitleForeground: $white;
$headingForeground: $blue;
$inlineCodeForeground: $darkBlue;
$anchorForeground: $darkBlue;
$anchorActiveForeground: $teal;
$pageScrollbarForeground: $gray-6;

//############## CODE ##############

$codeBlockBorder: $gray-8;

//############## DIALOG ##############

$dialogBorder: $gray-7;
$dialogTitleForeground: $gray-0;
$dialogTitleBackground: $gray-8;
$dialogContentBackground: $white;
$dialogContentForeground: $black;

//############## FORMS ##############

$inputForeground: $black;
$inputBackground: $white;
$inputBorder: $gray-0;
$inputGroupAddonBackground: color.scale($gray-0, $lightness: 30%);
$primaryInputBackground: $white;
$primaryInputForeground: $black;
$primaryInputBorder: $gray-0;
$selectActive: $gray-7;
$selectActive2: color.scale($selectActive, $lightness: 12%);;

//############## GRID ##############

$gridEvenRowBackground: $gray-8;
$gridOddRowBackground: $white;

//############## SEPARATOR ##############

$separatorForeground: $gray-2;
$menuSeparatorForeground: $lightBlue;

//############## LEVELS ##############

$success: $green;
$info: $lightBlue;
$warning: $orange;
$error: $red;

//############## WEIGHTS ##############

$weightForeground: $white;
$weight-0: $green;
$weight-1: $yellowGreen;
$weight-2: $yellow;
$weight-3: $orange;
$weight-4: $orangeRed;
$weight-5: $red;

//############## LIVE SAMPLE ##############

$liveSampleBorder: $gray-8;
$liveSampleTitleBackground: $gray-8;

//############## PAGING ##############

$primaryPagingBackground: $gray-8;
$primaryPagingForeground: $blue;
$secondaryPagingBackground: $blue;
$secondaryPagingForeground: $gray-8;
$primaryPagingDisabledBackground: $gray-8;
$primaryPagingDisabledForeground: $blue;

//############## ALERTS ##############

$alerts:
(
    info: (background: $lightBlue, foreground: $white),
    warning: (background: $orange, foreground: $white),
    success: (background: $green, foreground: $white),
    danger: (background: $red, foreground: $white),
    error: (background: $red, foreground: $white)
);

//############## BUTTONS ##############

$btnIconForeground: $gray-4;
$btnIconForegroundHover: $green;

$buttons:
(
    primary: (background: $green, foreground: $white),
    info: (background: $lightBlue, foreground: $white),
    default: (background: $gray-4, foreground: $white),
    success: (background: $green, foreground: $white),
    warning: (background: $orange, foreground: $white),
    danger: (background: $red, foreground: $white),
    error: (background: $red, foreground: $white)
);