@import 'theme-vars.scss';
@import 'dark-theme-vars.scss';

//---------------------- PAGE STYLING ----------------------
.app-page.dark
{
    background-color: $primaryBackgroundColor;
    color: $primaryForegroundColor;

    //############## LINKS ##############

    a, a:link
    {
        color: $primaryLinkColor;

        &:hover, &:focus
        {
            text-shadow: 0 0 3px $primaryLinkColor;
        }
    }

    //############## HEADINGS ##############

    h1, h2, h3, h4, h5, h6
    {
        color: $primaryTitleColor;
    }

    //############## CODE ##############

    code
    {
        background-color: $secondaryCodeBackground;
        color: $secondaryCodeForeground;
    }

    pre
    {
        border-color: $primaryCodeBorder;

        &>code
        {
            background: $primaryCodeBackground;
            color: $primaryCodeForeground;
        }
    }

    //############## SEPARATOR ##############

    hr
    {
        border-color: $primarySeparatorColor
    }

    //############## PAGE TITLE ##############

    .page-title
    {
        background-image: linear-gradient(to bottom, #b5e853ba, #1a1a1a);

        a
        {
            .fa-github
            {
                color: $primaryForegroundColor;
            }
        }
    }

    //############## TABLE ##############

    .table-striped > tbody > tr:nth-of-type(2n+1)
    {
        background-color: #000000;
    }

    .table-hover > tbody > tr:hover
    {
        background-color: lighten($primaryBackgroundColor, 5%);
    }

    //############## PAGINATION ##############

    .pagination > li >
    {
        a,
        a:focus,
        a:hover,
        span,
        span:focus,
        span:hover
        {
            background-color: lighten($primaryBackgroundColor, 15%);
            border-color: lighten($primaryBackgroundColor, 15%);
            color: $primaryPaginationForeground;
        }
    }

    //TODO - updated this

    .pagination > .active >
    {
        a,
        a:focus,
        a:hover,
        span,
        span:focus,
        span:hover
        {
            background-color: $primaryPaginationActiveBackground;
            color: $primaryPaginationActiveForeground;
        }
    }

    //############## TABS ##############

    .mat-tab-labels
    {
        background-color: darken($primaryBackgroundColor, 3%);
    }

    .mat-tab-label
    {
        color: $primaryForegroundColor;
    }

    //############## BUTTONS ##############
    
    .btn-primary
    {
        background-color: $primaryButtonBackground;
        background-image: linear-gradient(to bottom, $primaryButtonBackground 0%, $primaryButtonBackgroundGradient 100%);
        border-width: 0;
        background-position: 0;
        
        &:hover
        {
            background-color: $primaryButtonBackgroundHover;
            background-image: none;
        }
    }

    //############## NG SELECT ##############

    ng-select
    {
        button.btn-select
        {
            background-color: $primarySelectBackgroundColor;

            &.btn:hover, &.btn:focus
            {
                color: $primarySelectForegroundColor;
            }
        }

        .popup-div
        {
            background-color: $primarySelectPopupBackgroundColor;
            color: $primarySelectPopupForegroundColor;

            .option-item:hover, .option-item.selected, .option-item.active
            {
                background-color: lighten($primarySelectBackgroundColor, 10%);
                background-image: linear-gradient(to bottom, lighten($primarySelectBackgroundColor, 10%) 0,lighten($primarySelectBackgroundColor, 15%) 100%);
                color: $primarySelectForegroundColor;
            }
        }

        input.form-control
        {
            background-color: $primarySelectInputBackgroundColor;
            color: $primarySelectInputForegroundColor;
        }
    }

    //############## SCROLLBAR ##############

    .thin-scrollbar
    {
        scrollbar-color: $primaryScrollbarColor $primaryScrollbarBackground;
    }

    .thin-scrollbar::-webkit-scrollbar-thumb
    {
        background-color: $primaryScrollbarColor;
    }

    .thin-scrollbar::-webkit-scrollbar
    {
        background-color: $primaryScrollbarBackground;
    }

    // .btn-primary
    // {
    //     letter-spacing: 1px;
    //     background-color: $buttonLightColor;
    //     background-image: none;
    //     border-color: $buttonLightColor;
    //     text-shadow: 0 0;
    //     box-shadow: 0 0;

    //     &:active:not(.disabled)
    //     {
    //         transform: translateY(2px);
    //         background-color: $buttonLightColor;
    //         border-color: $buttonLightColor;
    //         box-shadow: 0 0;
    //     }

    //     &:hover,
    //     &:focus
    //     {
    //         background-color: $buttonDarkerColor;
    //         border-color: $buttonDarkerColor;
    //     }

    //     &>span[class^="fa"],
    //     &>span[class^="glyphicon"]
    //     {
    //         color: $buttonDarkColor;
    //     }
    // }
}