@import 'theme-vars.scss';
@import '../mixins.scss';

//---------------------- PAGE STYLING ----------------------
.app-page
{
    font-family: "Roboto Condensed";

    //############## MISC ##############
    .line-height-default
    {
        line-height: 1em;
    }
    
    .border-round
    {
        border-radius: $borderRadius;
    }

    .top-border-round
    {
        border-top-left-radius: $borderRadius;
        border-top-right-radius: $borderRadius;
    }

    .bottom-border-round
    {
        border-bottom-left-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
    }

    .left-border-round
    {
        border-top-left-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
    }

    .right-border-round
    {
        border-top-right-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
    }

    .top-left-border-round
    {
        border-top-left-radius: $borderRadius;
    }

    .bottom-left-border-round
    {
        border-bottom-left-radius: $borderRadius;
    }

    .top-right-border-round
    {
        border-top-right-radius: $borderRadius;
    }

    .bottom-right-border-round
    {
        border-bottom-right-radius: $borderRadius;
    }

    .extra-small-text
    {
        font-size: $fontSizeXs;
    }
    
    .small-text
    {
        font-size: $fontSizeSm;
    }

    .medium-text
    {
        font-size: $fontSizeMd;
    }

    .large-text
    {
        font-size: $fontSizeLg;
    }

    .extra-large-text
    {
        font-size: $fontSizeXl;
    }

    .extra-extra-large-text
    {
        font-size: $fontSizeXxl;
    }

    @include generate-margin-padding(padding, $sizes);
    @include generate-margin-padding(margin, $sizes);

    .margin-none
    {
        margin: 0;
    }

    .spread-text
    {
        letter-spacing: 1px;
    }

    //############## LINKS ##############

    a, a:link
    {
        &:hover, &:active, &:focus
        {
            text-decoration: none;
            cursor: pointer;
        }
    }

    //############## CODE ##############

    pre
    {
        padding: 0;

        &>code
        {
            display: block;
            overflow-x: auto;
            padding: 0.5em;
        }
    }

    //############## SEPARATOR ##############
    
    hr
    {
        border-style: dashed;
    }
    
    //############## PAGE TITLE ##############

    .page-title
    {
        padding: 10px 0;

        .title-text
        {
            padding-left: 10%;
            font-size: 24px;
        }

        a
        {
            font-size: 22px;
            display: block;
            margin-right: 10px;
        }
    }
}
