// ---------------------- DARK THEME ----------------------
$primaryBackgroundColor: #1a1a1a;

$primaryForegroundColor: #eaeaea;

$primaryLinkColor: #63c0f5;

$primaryActiveMenuColor: #00AA88;

$primaryTitleColor: #b5e853;

$primarySeparatorColor: $primaryTitleColor;

$primaryPaginationForeground: $primaryTitleColor;
$primaryPaginationActiveForeground: lighten($primaryBackgroundColor, 15%);
$primaryPaginationActiveBackground: $primaryTitleColor;

$primaryCodeBackground: #151515;
$secondaryCodeBackground: $primaryCodeBackground;
$primaryCodeForeground: #DCDCDC;
$secondaryCodeForeground: #569CD6;
$primaryCodeBorder: #333333;

$primaryButtonBackground: $primaryTitleColor;
$primaryButtonBackgroundGradient: darken($primaryButtonBackground, 15%);
$primaryButtonBackgroundHover: darken($primaryButtonBackground, 20%);

$primaryScrollbarColor: #cdcdcd;
$primaryScrollbarBackground: $primaryBackgroundColor;