@import '../../theme-vars.scss';
@import '../../dark-theme-vars.scss';

//---------------------- COMPONENT STYLING ----------------------
.app-page.dark
{
    md-menu
    {
        box-shadow: -4px 0px 2px -2px #b5e853 inset;
    }

    source-code
    {
        .mat-tab-header-pagination-chevron
        {
            border-color: rgb(234, 234, 234);
        }
    }

    //############## NG SELECT ##############

    ng-select
    {
        custom-readonly-state
        {
            .form-control
            {
                background-color: $primarySelectBackgroundColor;
            }
        }
    }
}