<h3>Custom Template Select</h3>

<source-code>
    <mat-tab-group>
        <mat-tab label="customTemplateSample.component.ts">
            <div [renderMarkdown]="'samples/select/customTemplate/customTemplateSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="customTemplateSample.component.html">
            <div [renderMarkdown]="'samples/select/customTemplate/customTemplateSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<custom-template-sample/>