<div>Value: {{selectField().value() | json}}</div>

<ng-select [formField]="selectField">
    <ng-option value="first" text="First value text"/>
    <ng-option value="second" text="Second value text"/>
    <ng-option value="third" text="Third value text"/>
    <ng-option value="fourth" text="Fourth value text"/>
    <ng-option value="fifth" text="Fifth value text"/>

    <span *normalStateTemplate="let normalState">=&gt; {{normalState.selectBus.selectedOptions() | displayValue}} &lt;=</span>
    <span *optionTemplate="let option">{{option.value()}} - {{option.text()}}</span>
</ng-select>