<h3>Readonly Select</h3>

<source-code>
    <mat-tab-group>
        <mat-tab label="readonlySample.component.ts">
            <div [renderMarkdown]="'samples/select/readonly/readonlySample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="readonlySample.component.html">
            <div [renderMarkdown]="'samples/select/readonly/readonlySample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<readonly-sample></readonly-sample>