<div>Value: {{selectControl.value | json}}</div>

<button (click)="readonly = !readonly" class="btn btn-primary">
    <span>{{readonly ? 'to normal' : 'to readonly'}}</span>
</button>

<ng-select [readonly]="readonly" [formControl]="selectControl">
    <ng-option value="first" text="First value text"/>
    <ng-option value="second" text="Second value text"/>
    <ng-option value="third" text="Third value text"/>
    <ng-option value="fourth" text="Fourth value text"/>
    <ng-option value="fifth" text="Fifth value text"/>
</ng-select>