<h3>Modal Popup Select</h3>

<source-code>
    <mat-tab-group>
        <mat-tab label="modalPopupSample.component.ts">
            <div [renderMarkdown]="'samples/select/modalPopup/modalPopupSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="modalPopupSample.component.html">
            <div [renderMarkdown]="'samples/select/modalPopup/modalPopupSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<modal-popup-sample></modal-popup-sample>