//############## MERANIA DETAIL ##############

merania-detail
{
    .details-container.ng-animating
    {
        @for $i from 1 through 40
        {
            &>*:nth-child(#{$i})
            {
                transform-origin: center ($i * -105%);
                z-index: ($i * -1);
                position: relative;
            }
        }
    }
}