@use '@css-styles/common';

@mixin css
{
    app
    {
        display: grid;
        grid-template-columns: [fullscreen-start] minmax(var(--page-side-width), 4%) [content-start] 1fr [content-end] minmax(var(--page-side-width), 4%) [fullscreen-end];
        grid-template-rows: auto;
    
        .page-content
        {
            grid-column: content;
            min-width: 0;
            display: flex;
            align-items: flex-start;
        }

        .fullscreen
        {
            grid-column: fullscreen;
        }

        router-outlet+*,
        router-outlet+*+*
        {
            @extend %thin-scrollbar;

            grid-column: fullscreen;

            display: grid;
            grid-template-columns: subgrid;
            overflow-y: hidden;

            &.scrollable
            {
                overflow-y: scroll;
            }

            &.page-content
            {
                display: flex;
                flex-direction: column;
            }

            &.fullscreen-content
            {
                display: flex;
                flex-direction: column;
            }
        }
    }
}