<h3>Custom Renderer Grid</h3>

<source-code>
    <mat-tab-group>
        <mat-tab label="customRendererSample.component.ts">
            <div [renderMarkdown]="'samples/grid/customRenderer/customRendererSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="customRendererSample.component.html">
            <div [renderMarkdown]="'samples/grid/customRenderer/customRendererSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>

        <mat-tab label="gallery.interface.ts">
            <div [renderMarkdown]="'samples/grid/customRenderer/gallery/gallery.interface.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="galleryItem.component.ts">
            <div [renderMarkdown]="'samples/grid/customRenderer/gallery/galleryItem.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="galleryItem.context.ts">
            <div [renderMarkdown]="'samples/grid/customRenderer/gallery/galleryItem.context.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="galleryMetadataGatherer.component.ts">
            <div [renderMarkdown]="'samples/grid/customRenderer/gallery/galleryMetadataGatherer.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="galleryContentRenderer.component.ts">
            <div [renderMarkdown]="'samples/grid/customRenderer/galleryRenderer/galleryContentRenderer.component.ts' | asSource | async"></div>
        </mat-tab>
        
        <mat-tab label="galleryContentRenderer.component.html">
            <div [renderMarkdown]="'samples/grid/customRenderer/galleryRenderer/galleryContentRenderer.component.html' | asSource: 'html' | async"></div>
        </mat-tab>

        <mat-tab label="galleryContentRenderer.component.scss">
            <div [renderMarkdown]="'samples/grid/customRenderer/galleryRenderer/galleryContentRenderer.component.scss' | asSource: 'scss' | async"></div>
        </mat-tab>

        <mat-tab label="galleryContentRenderer.interface.ts">
            <div [renderMarkdown]="'samples/grid/customRenderer/galleryRenderer/galleryContentRenderer.interface.ts' | asSource | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<custom-renderer-sample></custom-renderer-sample>