<source-code>
    <mat-tab-group>
        <mat-tab label="rowSelectionSample.component.ts">
            <div [renderMarkdown]="'samples/grid/rowSelection/rowSelectionSample.component.ts' | asSource | async"></div>
        </mat-tab>

        <mat-tab label="rowSelectionSample.component.html">
            <div [renderMarkdown]="'samples/grid/rowSelection/rowSelectionSample.component.html' | asSource: 'html' | async"></div>
        </mat-tab>
    </mat-tab-group>
</source-code>

<row-selection-sample/>
